.page-id-3 section p {
  font-size: 16px;
font-size: 1rem;
line-height: 25px;
line-height: 1.5625rem;
font-weight: 600;
}

///////////// ul mobile cidades //////////////
.lista_cidades {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  a {
    color: $fourth;
    @include rhythm(15, 15);
  }
}

/////////////// direcional_height
.direcional_height {
  padding-top: 50px;
}
//////////////// Carousel Parceiros
.parceiros p {
  text-align: center;
}

.carousel_parceiros {
  .item {
    padding: 40px 30px 0;
  }

  .slick-slide:nth-child(2) {
    padding-top: 45px;
  }
}

.history p {
  text-align: center;
}

.history p + p {
  margin-top: 1rem;
}

////////////////Construcoes

.construcoes {
  @include media-breakpoint-down(lg) {
    padding: 2rem 0 0;
    margin-bottom: 2rem;
    .slick-dotted.slick-slider {
      margin-bottom: 0;
    }

    p {
      @include rhythm(20, 20);
      text-align: center;
    }

    .slick-dots {
      top: 65px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .carousel_construcoes_border {
    border-left: 1px solid $white;
    border-right: 1px solid $white;
  }
}

////////////////location
.location {
  @include media-breakpoint-down(lg) {
    padding-bottom: 0;
  }

  ul {
    padding-top: 20px;
  }
}
/////////////// Missao
.missao .slick-dots {
  bottom: -45px;
  @include media-breakpoint-down(lg){
    bottom: -75px;
  }
}

////Carousel Missao
.missao .item {
  padding: 40px 0 20px;
  .card {
    padding: 0 30px;
    background-color: $seventh;
    margin-bottom: 2rem;
    text-align: center;
    ul {
      display: inline-block;
      // list-style-position: inside;
      padding: 0;

      li {
        text-align: left;
        &:first-letter {
          font-weight: 700;
        }
      }
    }
    p {
      text-align: center;
    }
  }
}

@include media-breakpoint-up(lg) {
  .carousel_missao_border {
    border-left: 1px solid $first;
    border-right: 1px solid $first;
  }
}

/////////////// Sustentavel
.sustentavel p + p {
  margin-top: 1rem;
}
///colapse
.sustentavel_colapse {
  padding: 20px 0 0;
}

///////////////linhas
.linhas {
  @include media-breakpoint-down(lg) {
    
    .card {
      min-height: 434px;
    }

    .carousel_linhas .slick-dots{
      bottom: -50px;
    }
  }
}

.linhas_text {
  font-size: 18;
}
///carousel
.carousel_linhas {
  @include media-breakpoint-down(lg) {
    margin: 0;
    .slick-dots {
      bottom: 5px;
    }
  }
  .card {
    background-color: $seventh;
    border-radius: 15px;
    img {
      padding: 20px;
    }
    p {
      padding: 0 20px;
      word-break: break-word;
      text-align: center;
      @include media-breakpoint-down(lg) {
        padding-bottom: 20px;
      }
    }
    @include media-breakpoint-up(lg) {
      min-height: 580px;
    }
  }
  .item {
    padding: 40px 30px 0;
    @include media-breakpoint-down(lg) {
      padding: 20px 0 0;
    }
  }

  .linhas_size {
    min-height: 200px;
  }
}

/////////// diferenciais
.diferenciais {
  hr {
    margin-bottom: 2rem !important;
  }
  @include media-breakpoint-down(lg) {
    padding-top: 0;

    .row {
      align-items: flex-start !important;
    }
    @include media-breakpoint-down(lg) {
      p {
        padding: 10px 0 !important;
      }
    }
  }

  .diferenciais_box {
    background-color: $first;
    border-radius: 200px;
    min-height: 150px;
    max-width: 150px;
    .diferenciais_img {
      margin: 0 auto;
      @include media-breakpoint-down(lg) {
        // padding: 80px;
      }
    }
  }

  .item_height {
    p {
      text-align: center;
    }
    @include media-breakpoint-up(lg) {
      min-height: 300px;
    }
  }
}

/////////// borda container about //////////
.borda_cards_about {
  border: 1px solid $first;
}
