/* Frame */
.frame {
	/* height: 250px; */
	line-height: 250px;
	overflow: hidden;
}
.frame ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 50px;
}
.frame ul li {
	float: left;
	width: 227px;
	max-width: 70%;
	height: 100%;
	margin: 0 1px 0 0;
	padding: 0;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.frame ul li.active {
}

/* Scrollbar */
.scrollbar {
	margin: 0 0 1em 0;
	height: 2px;
	background: #efefef;
	line-height: 0;
	width: 320px;
    margin: 0 auto;
	text-align: center;
	margin-top: 2.5rem;
}
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #a7a9ac;
	margin: 0 auto;
	cursor: pointer;
	max-width: 40px;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}
