@font-face {
font-family: "MuseoSans-900"; 
  font-display: swap;
src: url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.eot"); 
src: url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.eot?#iefix") format("embedded-opentype"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.woff2") format("woff2"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.woff") format("woff"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.ttf") format("truetype"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.svg#MuseoSans-900") format("svg"); 
}