////////////////// Padding ////////////////
.fale {
    padding-bottom: 0;
}

.motivo {
    padding-top: 2rem;

    .nav {
        padding: 1.5rem 0;
    }
    .nav-link {
        padding: 0 3rem;
    }

    form input {
        padding: 1rem;
        margin: 1rem 0 0 0;
    }
}

/////////////// h4 font ///////////////////
.motivo h4 {
    text-align: left;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.48px;
    color: #29292f;
    opacity: 1;
    padding: 0 0 1.5rem;
}

//////////////////// fale /////////////////////
.fale p {
    @include media-breakpoint-down(lg) {
        @include rhythm(16, 25);
        margin-top: 1rem;
    }
}
///////////////// Pill ////////////////////
///a
.pill-titles {
    & a {
        text-decoration: none;
        color: $white;
    }
}

///fa
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent !important;
    font-weight: bold;
}

.nav-pills .nav-link.active::before,
.nav-pills .show > .nav-link::before {
    font-family: "FontAwesome";
    content: "\f0da";
    float: right;
    @include media-breakpoint-down(lg) {
        transform: rotate(90deg);
    }
}
.motivo form select {
    padding: 1rem;
    margin: 1rem 0 0 0;
}
.motivo {
    .accordion_border {
        border: none;
    }
}

///media query
.motivo {
    @include media-breakpoint-down(lg) {
        h4 {
            width: 82%;
            text-align: center;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.48px;
            color: white;
            background-color: $first;
            padding: 1rem 1rem;
            margin: 0 auto;
        }

        h4:after{
            content: "";
            width: 100%;
            height: 1px;
            background-color: white;
            left: 0;
            position: relative;
            display: block;
            top: 10px;
        }

        .collapse_title {
            text-transform: none;
            font-size: .95rem;
        }

        #accordion .card p + p,
        #accordion .card + .card {
            margin: 0;
        }

        #accordion .card .card-header {
            margin: 0 !important;
        }

        .card-header:after {
            content: "";
            width: 100%;
            height: 1px;
            background-color: white;
            left: 0;
            position: relative;
            display: block;
            top: 10px;
        }
        .card:last-child {
            .card-header:after {
                display: none;
            }
        }
    }
}
///////// form /////////////
form input,
form select {
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
}

form:not(:first-child) {
    margin-top: 1rem;
    @include media-breakpoint-down(lg) {
        margin-top: 0;
    }
}

form .row input,
form .row select {
    @include media-breakpoint-down(lg) {
        margin-top: 1rem;
    }
}

.motivo .btn_about {
    margin-top: 10.5rem;
    @include media-breakpoint-down(lg) {
        margin-top: 1rem;
    }
    .btn {
        width: 30%;
        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }
}

//////////////// telefone //////////////////
.telefone .client_text {
    line-height: 1.5rem;
    @include media-breakpoint-down(lg) {
        font-size: 16px;
    }
}

.telefone .client_text1 {
    padding-top: 7px;
    font-size: 20px;
}

.telefone .row .row {
    @include media-breakpoint-down(lg) {
        justify-content: center;
    }
}

.wapp {
    min-height: 109px;
    min-width: 109px;
    border-radius: 300px;
    background-color: #2ecc71;

    .wapp_img {
        background-image: url("/wp-content/themes/quartzo/img/whatsapp.png");
        background-position: center;
        width: 70px;
        height: 70px;
        background-repeat: no-repeat;
        padding: 30px;
    }
}

///media query
.telefone {
    @include media-breakpoint-down(lg) {
        background-color: white;
        &.background_seventh .container {
            border: 2px solid $fourth;
            border-radius: 10px;
            margin: 0 auto;
            max-width: 80%;
            background-color: $seventh;
            padding: 2rem 0;
        }

        .media-body {
            width: 100%;
            p {
                text-align: center;
            }

            p:nth-child(2) {
                display: none;
            }

            p:first-child {
                font: 700;
                font-size: 20px;
                padding-bottom: 15px;
            }

            p:last-child {
                font-size: 18px;
            }
        }
    }
}
/////////////// Onde //////////////////
.onde p {
    font-weight: 700;
    @include rhythm(26, 40);
}

.onde .column {
    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}

.onde .row p:first-child {
    @include media-breakpoint-down(lg) {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
}
.onde .row p {
    @include media-breakpoint-down(lg) {
        margin-top: 0.3rem;
    }
}

.titulo_onde {
    color: $first;
}

.hr_onde {
    width: 100%;
    border: 1px solid $fourth;
}

.row.col-12.col-lg-4.text-center:last-child {
    .hr_onde {
        display: none;
    }
}
