//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";

// navbar
@import "structure/navbar.scss";
@import "global/navbar.scss";
// footer
@import "structure/footer.scss";
// banner
@import "structure/banner.scss";
// // accordion
@import "structure/accordion.scss";
// // about
@import "structure/about.scss";
// // forms
@import "global/forms.scss";

// //banner
@import "global/banner";
// //home
@import "home/home.scss";
// // empreendimentos
@import "empreedimentos/empreedimentos.scss";
// // empreendimentos Interna
@import "empreendimentosInterna/empreendimentosInterna.scss";
// //contact
@import "contact/contact.scss";
// // mcmv
@import "mcmv/mcmv.scss";
// // institucional
@import "about/about.scss";


.page-template-template-page-politica{
  background-color: #E5E5E5;
  .fixed-header {
    position: relative;
  }
}
.page-template-template-page-indicacao{
  .search_container{
    display: none;
  }
  .indicacao, .dica{
    .item{
      @media screen and (max-width: 767px){
        margin-bottom: 3rem;
      }
      img{
        max-height: 80px;
      }
      .number{
        color: #DB3343;
        display: block;
        margin-top: .9rem;
        font-size: 24px;
      }
      p{
        margin-top: .9rem;
      }
    }
    p{
      margin-bottom: 1.4rem !important;
      font-size: 1rem;
      line-height: 1.75rem;
      em{
        margin-bottom: 1.4rem;
        font-size: 1.25rem;
        line-height: 2.15rem;
      }
    }
    ul{
      @media screen and (min-width: 992px){
        margin: 4rem 0;
      }
      li{
        font-size: 20px;
      }
      li:not(:first-child){
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
      }
    }
    h2{
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #545454;
      display: inline-block;
      border-bottom: 3px solid #DB3343;
    }
  }
}


    .content{
      &.dica{
        input.wpcf7-form-control.wpcf7-submit:focus {
          outline: none;
      }
        .form-row{
          margin-bottom: 1.4rem;
        }
        input[type="checkbox"] {
          width: auto;
          margin-top: 2rem;
      }
        background-color: #E5E5E5;
        img{
          margin-bottom: 1.5rem;
        }
        h4{
          margin-top: 1.2rem;
        }
        h3{
          font-weight: 300;
        }
        p{
          margin: 0 !important;
          &:last-child{
            margin-bottom: .7rem;
          }
        }
        .border_bottom{
          border-bottom: 1px solid #DB3343;
          margin-bottom: 2.5rem;
        }
      }
    }
  
  .politica{
    @media screen and (min-width: 992px){
      [id^=item-]{
        padding-left: 2rem;
      }
    }
    .custom-border{
      // display: flex;
      justify-content: flex-end;
      &:before{
        content: '';
        background: #d81f31;
        height: 68px;
        display: block;
        border-bottom: 19px solid #E5E5E5;
        width: 10%;
        z-index: 4;
        margin-left: 10px;
        position: relative;
        left: 4px;
      }
      &:after{
        content: "";
        background: #545454!important;
        height: auto;
        display: block;
        top: 0;
        width: 1%;
        position: relative;
        z-index: 1;
        right: 0;
      }
    }
    h1{
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 43px;
      text-transform: uppercase;
      color: #545454;
      @media screen and (min-width: 992px){
        margin-bottom: 2.5rem;
      }
      @media screen and (max-width: 767px){
        font-size: 27px;
      }
    }
    h2{
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      /* identical to box height */
      text-transform: none;
      margin: 1.5rem 0;
      color: #545454;
      
  }
    hr{
      background-color: #DB3343;
      margin: 0;
      margin-bottom: 20px;
      margin-top: 10px;
      height: 3px;
      width: 30px;
    }
    p{
      font-size: 16px;
      line-height: 22px;
    }
    ul{
      li{
        width: 100%;
      }
      a{
        display: block;
        margin-bottom: .8rem;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          padding-left: 0;
          color: #545454;
      }
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      background-color: transparent!important;
      font-weight: 500;      color: $first;
  }
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
      h2{
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin: 0;

        /* identical to box height */
        text-transform: none;
        
        color: #545454;
        
    }
  }
  .nav-pills .nav-link.active::before, .nav-pills .show>.nav-link::before{
    content: none;
  }
  }
  @media screen and (min-width: 992px){
    footer{
      z-index: 9999;
      
      position: relative;

    }
  }
    .banner_nav{
      transition:visibility 0.7s linear,opacity 0.7s linear;

      &.d-none{
        transition:visibility 0.7s linear,opacity 0.7s linear;
        opacity:0 !important;

      }

    }
    .fixed-bottom{
      transition:visibility 0.7s linear,opacity 0.7s linear;

      &.nav_down{
        bottom: -1000px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, bottom .3s ease;
      }
      &.nav_up{
        bottom: 0;
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, bottom .3s ease;
      }
      .whatsapp_btn{
        margin-top: 0;
      }
    }
  
    @media (max-width: 985px){
      #cookie-law-info-bar[data-cli-style="cli-style-v2"], #cookie-law-info-bar[data-cli-style="cli-style-v2"][data-cli-type="widget"], #cookie-law-info-bar[data-cli-style="cli-style-v2"][data-cli-type="popup"] {
        padding: 9px 25px;
      }
    }
    @media screen and (max-width: 767px){
      footer{
        .background_fifth{
          padding-bottom: 2rem;
        }
      }
      .home{
        .empreendimentos{
          padding-top: 0;
        }
      }
    }
    .gpdr_cookies_bottom{
        .fixed-bottom{
          &.nav_down{
            transition: opacity .4s ease-in, bottom .3s ease;

          }
          &.nav_up{
            bottom: 4rem;
            transition: opacity .4s ease-in, bottom .3s ease;
            @media screen and (max-width: 992px){
              bottom: 8.5rem;
            }
          }
        }
    }

    .videobg{
      background-image: url('../img/video.jpg');
      background-size: cover;
      background-position: center;
    }
    .svg_first{
      position: absolute;
      right: 0;
    }
    .svg_second{
      position: absolute;
      left: -100px;
      transform: rotate(-180deg);
      margin-top: -100px;
      path{
        fill: #3dbace;
      }
    }

    .gpdr_cookies_bottom #bricks-component-7c49ELUhP5zHuseShzuXqQ-wrapper.rdstation-popup-position-bottom_right.floating-button.floating-button--close {
      bottom: 110px !important;
      transition: bottom .3s ease;
  }
  #bricks-component-7c49ELUhP5zHuseShzuXqQ-wrapper.rdstation-popup-position-bottom_right.floating-button.floating-button--close {
    transition: bottom .3s ease;
}
.container-fluid.h100.background_seventh.banner_nav.fixed-bottom p {
  font-weight: 700;
}
.simulacao{
  input[type=submit]{
    padding-left: 0 !important;
    padding: 15px 50px;
    padding-left: 50px !important;
    margin-top: 0 !important;
  }
  a, span, label{
    color: #fff;
  }
  a{
    text-decoration: underline;
  }
}
.simulacao .wpcf7-not-valid-tip {
  color: #fff000;
}
.bar_emp.fixed-bottom.nav_down, .page-template-template-page-empreendimentosbusca-php .fixed-bottom.nav_down{
  bottom: 0 !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity .4s ease-in,bottom .3s ease !important;
}
.page-template-template-page-empreendimentosbusca-php {
  
  .container-fluid.h100.background_seventh.banner_nav.main_first.not-singular, .container-fluid.h100.background_seventh.banner_nav.main_first.not-singular.visible{
    display: none !important;
  }
}
@media screen and (min-width: 767px){
  .simulacao{
    background-position: bottom;
    background-attachment: fixed;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.menuinterna{
  &.container{
    width: 100%;
    max-width: 100%;
    transition: width .4s ease-in, fixed-top 1s linear;

  }
  &.fixed-top{
    transition: width .4s ease-in, fixed-top 1s linear;

  }
}.hvr-pulse-grow {
  display: flex !important;
}
.diferenciais .diferenciais_box {
  margin: 0 auto;
}
.video .col-lg-8.tint{
	padding: 5px 23px 10px 22px;
}
.fixed-header .search_nav{
	opacity: 1;
}
.search_nav .sf-input-select option:not(first-child) {
    color: #000 !important;
}
.banner_nav_interna .nav_text_interna{
	font-family: "Museo Sans Rounded 100";
		font-weight: 700;
	color: #000;

}
.blog_img{
	background-size:cover;
	background-position:center;
}
.page-id-13 .hr_gray{
	margin-top: 4rem;
}
.mcmv_selo_copiar{
	border-radius: 50%;
}
.input{
	padding-bottom:4rem!important;
}
.page-id-13 section{
	padding-bottom:0;
}
.construcoes .flex-row{
	align-items: end;
}
.construcoes img{
	margin-bottom:1rem;
}
.number{
	font-size: 40px;
}

.fancybox-slide--video .fancybox-content {
	height:800px !important;
	width: 1200px !important;
}

.page-id-11 .banner_nav_prov .whatsapp_btn{
	margin-top: -184px;
}

@media (min-width:2000px){
	.banner_content h2{
font-size: 60px
	}
	.banner_content .btn{
		font-size: 40px
	}
}


.banner_content .col-lg-6{
	display: flex;
	align-items: end;
}


.slick-slide > div {
	height:100%;
}
.slick-slide{
	height: 100%;
}
.slick-list{
	height:100%;
}
.slick-track{
	height:100%;
}
.banner_nav{
	margin-top: 0;
}
.banner_content{
	display: flex;
height: 100%;
flex-direction: column;
}

.banner_section{
	height: 83vh!important;
}
.page-id-8 .banner_section .slick-dots{
	opacity:0;
}
.banner_section .item{
background-size:cover;
background-position: center;
	height:100% !important;
}
.empreendimentos .card-header + img {
	height: 250px!important;
	width:100%!important;
}

.mapa iframe, .singleCollapseMapa iframe{
	border: 1px solid #fdcf04!important;
}

.mapa iframe{
	height:665px
}

.planta .slick-slide.slick-current img.col-lg-12{
	max-height:320px;
}

.planta .slick-slide{
		max-height:320px;
}

.planta .slider-for{
	max-height: 500px;
}
.gallery img.col-lg-12{
	min-height:380px;
}
.singleCollapseVideo .play{
	    max-width: 50px;
    top: 160px;
    left: 43%;
}

.singleCollapseVideo .tint::before{
top: 51px;
bottom: 2px;
left: 16px;
right: 17px;
}

@media (min-height:992px){
	.banner_content {
	padding:0;
	padding-left: 6rem;
	padding-top: 4rem;
	}
	option{
	color: #000 !important;
	}
	.form-group .col-md-12 {

}
}
form span.wpcf7-form-control.wpcf7-acceptance input {
    width: auto;
}
.motivo form input:focus {
    outline: none;
}
.form-group {
    width: 100%;
}
.tab-content form select, textarea{
	border-radius: 5px;
	    padding: 1rem;
    margin: 1rem 0 0 0;
    border: 1px solid;
    width: 100%;
}
@media screen and (min-width: 767px) and (max-width: 1024px){
  footer {
    z-index: 99999999999;
    position: relative;
  }
  .empreendimentos .slick-slide {
    padding: 10px 8px;
}
.btn.btn_second.w-100 {
  width: auto !important;
}
footer{
  .column{
    margin: 2rem 0;
    width: 100%;
    column-count: 2;
  }
}
  .banner_section {
    height: 48vh !important;
    .banner_content{
      padding-left: 3rem;
    }
    .item{
      background-size: contain;
    }
  }
}
.mcva{
  border-radius: 50%;
}
// .location ul{
//   display: none;
// }
select:focus{
  outline: none;
}
.fixed-header {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
}
.search-filter-results-list{
  a:hover {
    text-decoration: none;
  }
}
@media screen and (max-width: 992px){
  .pin{
    width: 100%;
    margin-top: 1.2rem;
  }
}
@media screen and (min-width: 992px){
  .page-id-15{
    .slick-dots{
      display: none !important;
    }
  }
}
@media screen and (max-width: 767px){
  .banner_section {
    //height: 58vh!important;
  }
  .banner_section {
    height: auto !important;
    .item{
        background-position: -580px 0
    }
}
.fixed-bottom.nav_up{
  padding-bottom: 3rem;
}
.banner_section .slick-dots{
  bottom: 0;
}
  .banner_content {
    // padding: 2rem 15px 8rem 15px;
    // h2{
    //   font-size: 1.4rem;
    //   line-height: 2.4rem;
    // }
  }
}
span.wpcf7-form-control-wrap.fgts:before {
  content: 'R$';
  position: absolute;
  color: #495057;
  z-index: 9999;
  padding-left: 1.5rem;
  padding-top: 1.04rem;
}
.fgts{
  input{
    padding-left: 3rem !important;
  }
}