@import url("https://use.typekit.net/jsn0cju.css");
@font-face {
  font-family: "Museo 300";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo 300"), url("fonts/Museo300-Regular.woff") format("woff");
}

@font-face {
  font-family: "Museo 900";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo 900"), url("fonts/Museo900-Regular.woff") format("woff");
}

@font-face {
  font-family: "Museo 700";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo 700"), url("fonts/Museo700-Regular.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 500";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 500"), url("fonts/MuseoSansRounded500.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 100";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 100"), url("fonts/MuseoSansRounded100.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 300";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 300"), url("fonts/MuseoSansRounded300.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 700";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 700"), url("fonts/MuseoSansRounded700.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 900";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 900"), url("fonts/MuseoSansRounded900.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans Rounded 1000";
    font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("fonts/Museo Sans Rounded 1000"), url("fonts/MuseoSansRounded1000.woff") format("woff");
}
@font-face {
font-family: "MuseoSans-900"; 
  font-display: swap;
src: url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.eot"); 
src: url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.eot?#iefix") format("embedded-opentype"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.woff2") format("woff2"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.woff") format("woff"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.ttf") format("truetype"), 
url("/wp-content/themes/quartzo/css/8b2760b7bcaf4e2cdbb6cacec092b91b.svg#MuseoSans-900") format("svg"); 
}
