//////////////////////////// Container fluid
.blog .container-fluid {
    width: 94%;

    .btn_second {
        font-size: 19px;
        font-weight: bold;
    }
}

/// text decoration
.carousel_home a {
    text-decoration: none !important;
}

//////////////////// Card ///////////////////
////// card bg color
.empreendimentos {
    /// purple
    .card.purple {
        border: 1px solid $purple;
        &:hover {
            -webkit-box-shadow: 10px 10px 0px 0px rgba(155, 89, 182, 0.56) !important;
            -moz-box-shadow: 10px 10px 0px 0px rgba(155, 89, 182, 0.56) !important;
            box-shadow: 10px 10px 0px 0px rgba(155, 89, 182, 0.56) !important;
        }
        .card-header {
            background-color: $purple !important;
        }
        .card_fa {
            color: $purple !important;
        }

        .hr_card {
            background-color: $purple !important;
        }

        .card_img_border {
            border-top: 15px solid $purple !important;
        }

        .card_badge {
            background-color: $purple !important;
        }
    }

    ///blue
    .card.blue {
        border: 1px solid $blue;
        &:hover {
            -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 106, 167, 0.56);
            -moz-box-shadow: 10px 10px 0px 0px rgba(0, 106, 167, 0.56);
            box-shadow: 10px 10px 0px 0px rgba(0, 106, 167, 0.56);
        }
        .card-header {
            background-color: $blue !important;
        }
        .card_fa {
            color: $blue !important;
        }

        .hr_card {
            background-color: $blue !important;
        }

        .card_img_border {
            border-top: 15px solid $blue !important;
        }

        .card_badge {
            background-color: $blue !important;
        }
    }

    ///orange
    .card.orange {
        border: 1px solid $orange;
        &:hover {
            -webkit-box-shadow: 10px 10px 0px 0px rgba(241, 90, 47, 0.56);
            -moz-box-shadow: 10px 10px 0px 0px rgba(241, 90, 47, 0.56);
            box-shadow: 10px 10px 0px 0px rgba(241, 90, 47, 0.56);
        }
        .card-header {
            background-color: $orange !important;
        }
        .card_fa {
            color: $orange !important;
        }

        .hr_card {
            background-color: $orange !important;
        }

        .card_img_border {
            border-top: 15px solid $orange !important;
        }

        .card_badge {
            background-color: $orange !important;
        }
    }

    ///green
    .card.green {
        border: 1px solid $green;
        &:hover {
            -webkit-box-shadow: 10px 10px 0px 0px rgba(37, 184, 155, 0.56);
            -moz-box-shadow: 10px 10px 0px 0px rgba(37, 184, 155, 0.56);
            box-shadow: 10px 10px 0px 0px rgba(37, 184, 155, 0.56);
        }
        .card-header {
            background-color: $green !important;
        }
        .card_fa {
            color: $green !important;
        }

        .hr_card {
            background-color: $green !important;
        }

        .card_img_border {
            border-top: 15px solid $green !important;
        }

        .card_badge {
            background-color: $green !important;
        }
    }
    /// border radius
    .card {
        border-radius: 0 0 10px 10px;
        margin-bottom: 20px;
        border: 1px solid $first;
        transition: 0.5s;
        &:hover {
            transform: translate(-10px, -10px);
            -webkit-box-shadow: 10px 10px 0px 0px rgba(216, 31, 49, 0.56);
            -moz-box-shadow: 10px 10px 0px 0px rgba(216, 31, 49, 0.56);
            box-shadow: 10px 10px 0px 0px rgba(216, 31, 49, 0.56);
        }

        ///margin img row
        .row:last-child {
            margin: 0 10px;
        }
    }
}

///card title
.card_titulo {
    color: $white;
}

///card fa
.card_fa {
    color: $first;
}

///card header
.card-header {
    padding: 30px;
}
///card hr
.hr_card {
    width: 80%;
    height: 1px;
    background-color: $first;
    border-radius: 100px;
    border-top: none;
}

///card img border
.card_img_border {
    border-top: 15px solid $first;
}

///card badge
.card_badge {
    color: $white;
    background-color: $first;
    border-radius: 100px;
    padding: 0.5rem 0;
    font-size: 12px;
    @include media-breakpoint-down(lg) {
        margin-bottom: 0.3rem;
    }
}

////////////// simulacao
.simulacao {
    background-image: url("/wp-content/themes/quartzo/img/bg.jpg");

    input {
        border-radius: 50px;
        padding-left: 30px !important;
    }
}
.simulacaoMobile {
    background-image: url("/wp-content/themes/quartzo/img/bg.jpg");
    .simulacao_mobile_header_text {
        @include rhythm(24, 24);
        text-decoration: none;
        font-weight: 900;
    }

    input {
        border-radius: 50px;
        padding-left: 30px !important;
    }

    input.wpcf7-form-control.wpcf7-submit {
        width: 100%;
        padding: 15px 0 !important;
    }
    .wpcf7-form-control-wrap.fgts::before {
        padding: 0;
        top: 34px;
        left: 20px;
    }

    img{
        max-width: 100px;
        padding-bottom: 10px;
    }
}
////////////////// Beneficios mcmv //////////////////
///bg img
.beneficios_img {
    background-image: url("/wp-content/themes/quartzo/img/Direcional_Piracicaba_Portaria_HR_02.png");
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.45);
    background-repeat: no-repeat;
    background-size: 1210px 480px;
    background-position: -20px -10px;
}

///border
.beneficios_borda {
    @include media-breakpoint-down(lg) {
        border: 1px solid $white;
    }
}

///btn
.btn_beneficios {
    width: 100% !important;
}

///beneficiosMobile
.beneficiosMobile {
    padding: 1rem 0;

    a{
        width: 100%;
        text-align: center;
    }
}

///////////////////// Blog Cards //////////////
/// img border
.blog_img {
    border-top: 15px solid $fifth;
    background-size: cover;
    min-height: 350px;
    background-size: 470px 400px;
    background-repeat: no-repeat;
    background-position: -25px -25px;
}

/// card border
.blog .card {
    border: 1px solid $fifth;
    min-height: 500px;
    @include media-breakpoint-between(md, lg) {
        min-height: 700px;
    }
}

///card bg color
.card {
    background-color: $white;
}
/// Header bg color
.blog .card .card-header {
    background-color: $eighth;
    padding: 1rem;
}

/// date
.blog_card_date {
    padding-bottom: 7px;
}

///card hover
.card_hover:hover {
    .card {
        border-color: $first;
    }

    .card-header {
        background-color: $first;
        p,
        h4 {
            color: $white !important;
        }
    }

    .blog_img {
        border-color: $first;
    }

    .btn {
        background-color: $first;
        color: $white;
    }

    .btn:before {
        color: $white;
    }
}

///Negative Margin
.blog .card {
    margin-top: -2rem;
}

///btn blog card
.btn_blog {
    background-color: $seventh;
    color: $fourth;
    border-radius: 100px;
}

/// btn font awesome
// .blog .btn:before {
//     color: $fourth;
//     font-family: "FontAwesome";
//     content: "\f077";
//     transform: rotate(90deg);
//     float: right;
// }
