////////////////// body background /////////////
.page-id-13 {
    background-color: $seventh;
}

section.duvidas p {
    text-align: center;
}
///////// Margin Accordion Title //////////
.title_duvidas {
    padding-top: 0.2rem;
    padding-left: 1rem;
}

////////////////// Accordion
/// Padding Card header
.duvidas .card-header a {
    padding-top: 8px;
    padding-left: 2rem;
    text-transform: none;
    font-weight: 300;
    @include media-breakpoint-down(lg){
        padding: 8px 1.5rem 0;
        @include rhythm(17,17);
    }
}

///cursor
.duvidasColapse .card {
    cursor: pointer;
}

///Mobile text collapse
.collapse_mcmv_mobile.collapsed:after {
    font-family: "FontAwesome";
    content: "\f067";
    color: $fourth;
    position: relative;
    left: 101% !important;
    bottom: 23px !important;
}

.collapse_mcmv_mobile:after {
    font-family: "FontAwesome";
    content: "\f068";
    color: $fourth;
    position: relative;
    left: 101% !important;
    bottom: 23px !important;
}

///////////////// img selo //////////////////
.mcmv_selo {
    position: absolute;
    left: -80px;
    top: 30%;
    @include media-breakpoint-down(lg) {
        position: unset;
        margin: auto;
    }
}
.mcmv_selo_copiar {
    position: absolute;
    right: -80px;
    top: 30%;
    @include media-breakpoint-down(lg) {
        position: unset;
        margin: auto;
    }
}

///////////// Font awesome /////////////
.fa-circle {
    color: $white;
}

.fa-stack-1x {
    color: $first !important;
}

//////////// hr
.hr_gray {
    margin-top: 128px;
    height: 3px;
    border: 0;
}
////////////  btn  ///////////
.btn_mcmv {
    width: 60%;
    @include media-breakpoint-down(lg) {
        width: 100%;

        .btn_second {
            width: 100%;
            padding: 18px 20px;
        }
    }
}

/////////// input padding
.input {
    input {
        padding: 1rem;
    }
}

///////// Media query
.page-id-13{
    @include media-breakpoint-down(lg){
        p{
            font-weight: 500 !important;
        }
        //section corretor
        .corretor{
            .container{
                padding: 0 15px !important;
            }
        }

        //section input
        .input{
            .container{
                padding: 0;
            }

           .row{
                .col-12.text-center{
                padding: 0;
                }
            }
        }
    }
}
