////////////////// Font
h2 {
  font-family: "MuseoSans-900";
}

//////////////// Galery
.hover_ape {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: $first;
}

.carousel_ape,.carousel_ape_desk{
  a:hover {
    .hover_ape {
      opacity: 0.8;
    }

    .hover_ape_text {
      opacity: 1;
    }
  }
}
a.col-md-6.col-lg-4.col-12.mb-lg-4:hover {
  text-decoration: none;
}
#galeria{
  a, .planta_image{
    min-height: 350px;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 992px){
  #planta{
    .planta_image{
      min-height: 320px;
      width: 320px !important;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
.hover_ape_text {
  color: white;
  font-size: 25px;
  min-width: 300px;
  min-height: auto;
  padding: 4rem;
}

//////////////// Planta
.planta,
.singleCollapsePlanta {
  .slider-for {
    div {
      width: 100%;
      margin: 20px auto;
      text-align: center;
    }
  }
  .carousel_planta div {
    height: auto;
    padding-top: 10px;
  }

  .carousel_planta a{
    padding: 0 10px !important;
  }

  .slick-list.draggable {
    padding: 0 !important;
  }

  .slick-next::before {
    font-family: "FontAwesome";
    content: "\f054";
    color: black;
  }

  .slick-prev::before {
    font-family: "FontAwesome";
    content: "\f053";
    color: black;
  }

  .slick-arrow {
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
    background-color: $white;
    box-shadow: 0px 3px 6px #00000054;
    border: 1px solid #e6e4e4;
    opacity: 0.4;
    &:hover {
      border-color: $first;
      opacity: 1;
      &::before {
        color: $first;
      }
    }
  }

  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }

  img{
    border: 1px solid #e6e4e4;
  }
}

/// Hover planta
.hover_planta {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 320px !important;
  height: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.slider-for a:hover {
  .hover_planta {
    opacity: 0.8;
  }

  .hover_planta_text {
    opacity: 1;
  }
}

.hover_planta_text {
  color: white;
  font-size: 16px;
  min-height: 265px;
  background-color: $first;
  margin:3px 0 0 220px !important;
  @media (max-width:1199px) and (min-width:992px){
    //margin-left: 182px!important;
    min-height: 268px;
  }
}  

//////////////// Video
.video,
.singleCollapseTour,
.singleCollapseVideo {
  .img_360 {
    background-image: url("/wp-content/themes/quartzo/img/shutterstock_578646640.png");
    background-size: cover;
    min-height: 600px;
    box-shadow: 0px 6px 12px #000029;
    background-blend-mode: multiply;
    background-color: rgba(216, 31, 49, 1);
  }

  .play {
    position: relative;
    z-index: 9999;
    max-width: 100px;
    top: 320px;
    left: 310px;
  }

  .video_empreendimento .thumbnail {
    min-height: 560px;
  }

  .video_empreendimento a:hover {
    .play {
      filter: invert(40%) sepia(93%) saturate(7141%) hue-rotate(344deg) brightness(87%) contrast(94%);
    }
  }

  .tint {
    position: relative;
    float: left;
  }

  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 104px;
    bottom: 9px;
    left: 20px;
    right: 22px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s linear;
  }

  .tint:hover:before {
    display: none;
  }
}

////////////////////// mapa
.mapa,
.singleCollapseMapa {
  // @media ()
  // li{

  // }
  #accordion .card li + li {
    margin: 0 !important;
  }

  #accordion .card li:first-child {
    margin-left: 0px;
  }

  .card-header,
  h5,
  .btn {
    padding: 0 15px;
  }

  iframe {
    @include media-breakpoint-up(lg) {
      border: 1px solid #fdcf04;
      box-shadow: 0px 6px 12px #ffffff29;
      margin-top: -200px;
    }
    @include media-breakpoint-down(lg) {
      border: 1px solid #fdcf04;
      box-shadow: 0px 6px 12px #ffffff29;
      margin-bottom: 20px;
    }
  }

  ul {
    @include media-breakpoint-down(lg) {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      list-style: none;
      padding-left: 15px;

      & li p {
        font-size: 16px;
        line-height: 1.5;
        padding-left: 5px;
      }
    }
    .circle_mapa {
      min-width: 60px;
      min-height: 60px;
      max-height: 60px;
      max-width: 60px;
      border-radius: 30px;
      padding: 5px;
      margin-bottom: 10px;

      @include media-breakpoint-down(lg) {
        max-width: 40px;
        max-height: 40px;
        min-width: 40px;
        min-height: 40px;
      }

      img {
        max-width: 50px;
        max-height: 50px;

        @include media-breakpoint-down(lg) {
          max-width: 20px;
          max-height: 20px;
        }
      }
    }

    .red {
      background-color: $first;
    }

    .yellow {
      background-color: $yellow;
    }

    .orange {
      background-color: $orange;
    }

    .blue {
      background-color: $blue;
    }

    .green {
      background-color: $green;
    }

    .purple {
      background-color: $purple;
    }

    .lightBlue {
      background-color: $lightBlue;
    }
  }
}

////////////////////////// Ficha
.ficha,
.singleCollapseFicha {
  h2 {
    color: $white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 1em;
    text-indent: -0.7em;
  }

  .bullet::before {
    content: "• ";
    color: $white; /* or whatever color you prefer */
    float: left;
    margin-right: 1rem;
    margin-top: 8px;
  }

  .ficha_text {
    color: $white;
  }
}

.ficha{
  background-image: url("/wp-content/themes/quartzo/img/Grupo 2060.jpg");
  background-size: cover;
  background-position: center;
  
}

////////////////////// status
.status,
.singleCollapseStatus {
  .slick-next::before {
    font-family: "FontAwesome";
    content: "\f054";
    color: black;
  }

  .slick-prev::before {
    font-family: "FontAwesome";
    content: "\f053";
    color: black;
  }

  .slick-arrow {
    min-height: 60px;
    min-width: 60px;
    border-radius: 100px;
    background-color: $white;
    box-shadow: 0px 3px 6px #00000054;
    border: 1px solid #e6e4e4;
    opacity: 0.4;
    &:hover {
      border-color: $first;
      opacity: 1;
      &::before {
        color: $first;
      }
    }
  }

  .slick-prev {
    left: -50px;
  }
  .slick-next {
    right: -50px;
  }
}

///red circle
.red_circle {
  background-color: $first;
  min-height: 60px;
  min-width: 60px;
  border-radius: 30px;
  padding: 5px;
}

.previsao_badge {
  max-width: 50px;
  max-height: 50px;
}

.carousel_status .slick-slide {
  padding: 0 20px;
}

///progress height
.progress,
.progress-bar {
  height: 22px;
  margin-bottom: 20px;
}

///progress / progress bar color
.progress {
  color: $white;
  border: 1px solid $first;
  border-radius: 100px;
  height: 23px;
}
.progress-bar {
  background: transparent linear-gradient(90deg, #d81f31 0%, #6c1019 100%) 0% 0% no-repeat padding-box;
  border-radius: 100px;
}

/////////////////// Mobile
///video img color
.singleCollapseVideo .card-header img {
  filter: brightness(0.2);
}

.singleCollapseVideo #accordion .card .card-header.active h5 .btn-link img {
  filter: none !important;
}

///tour img size
.singleCollapseTour .card-header img {
  max-width: 29px !important;
  max-height: 29px !important;
  filter: brightness(0);
}
.singleCollapseTour #accordion .card .card-header.active h5 .btn-link img {
  filter: none !important;
}
///Accordion header
.single-empreendimentos #accordion .card .card-header img {
  margin-right: 1rem;
}

///img color
.single-empreendimentos #accordion .card .card-header.active h5 .btn-link img {
  filter: invert(1);
}

///Accordion Active
.single-empreendimentos #accordion .card .card-header.active,
.single-empreendimentos #accordion .card .card-header.active h5 .btn-link {
  background-color: $first;
  color: $white;
}

.singleCollapseMapa #accordion .card .card-header.active {
  background-color: $white;
}
/// Accordino body
.single-empreendimentos #accordion .card-body {
  padding-bottom: 2rem !important;
}

.singleCollapseTour .img_360{
  background-position: center;
  background-size: contain;
  min-height: 300px;
  background-repeat: no-repeat;
  @include media-breakpoint-down(lg){
    background-size: cover;
  }
}

////////////Media Query
///SVG 
@include media-breakpoint-down(lg){
  .single-empreendimentos{
    svg{
      display: none;
    }
  }
}