.banner_container.slick-slider {
    margin-top: -100px;
    @include media-breakpoint-between(md, lg) {
        margin-top: 0;
    }
    @include media-breakpoint-down(md) {
        margin-top: -65px;
    }
}

.banner_content {
    padding: 11.6rem 0 5.3rem 4rem;
    @include media-breakpoint-down(lg) {
        padding: 8rem 15px 8rem 15px;
    }
}

///////////Slick

.banner_section .item {
    background-image: url("/wp-content/themes/quartzo/img/Vitrine_3.png");
    background-size: 1540px 700px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.15);
}

.banner_section .slick-dots {
    bottom: 40px;
    @include media-breakpoint-down(lg) {
        bottom: 200px;
    }
}
///////////Nav
.whatsapp_btn {
    padding-right: 4rem;
    margin-top: -182px;
    text-align: right;
    .fa {
        font-size: 60px;
        color: white;
        background: #2ecc71;
        padding: 20px;
        border-radius: 5px;

        @include media-breakpoint-down(lg) {
            font-size: 40px;
        }
    }
}

.banner_nav {
    margin-top: -25px;

    a {
        min-height: 85px;
    }

    a:hover {
        text-decoration: none;
        background-color: $first;
        p {
            color: $white;
        }
        img {
            filter: brightness(0) invert(1);
        }
    }
    @include media-breakpoint-down(lg) {
        margin-top: -160px;
    }
}

.chat_black {
    filter: brightness(0.25);
}

////////////// Banner prov
.banner_section_prov .item {
    background-image: url("/wp-content/themes/quartzo/img/Quartzo Alto da Mata - Torres-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.15);
    // background-position: 0 -30px;
    background-position: center;
   @include media-breakpoint-down(lg){
    background-position: center;
   }
       
}

.banner_content_prov {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 650px;
    padding-left: 4rem;
    @include media-breakpoint-down(lg){
        padding:0 30px;
    }
    .banner_text_small {
        text-align: left;
        @include rhythm(30, 48);
        color: #ffffff;
        opacity: 1;
        text-transform: none;
    }
}

.banner_nav_prov {
    a {
        min-height: 84px;
    }
    a:hover {
        text-decoration: none;
        background-color: $first;
        p {
            color: $white;
        }
        img {
            filter: brightness(0) invert(1);
        }
    }

    @include media-breakpoint-down(lg) {
        position: relative;
    }

    .whatsapp_btn{
        margin-top: -352px;
    }
}

.banner_nav_interna {
    .nav_link_interna {
        min-height: 85px;
        &:hover {
            text-decoration: none;
            background-color: $first;

            p {
                color: $white;
            }
        }


    }
    .nav_link_interna + .nav_link_interna::after {
        content: "";
        background: #29292f;
        position: absolute;
        bottom: 25%;
        left: 0;
        height: 50%;
        width: 1px;
    }

    .nav_text_interna {
        @extend %museo-500;
        @include rhythm(18, 24);
        letter-spacing: 0.2px;
        color: $fifth;
        opacity: 1;
    }
}
