// .btn{
//     @extend %btn;
//     @include media-breakpoint-down(md){
//         white-space: normal;
//     }
// }
// .btn_white{
//     @include btn($color: #fff, $background: transparent, $colorHover: $first, $bgHover: #fff, $padding: 22px 35px);
// }
// .btn_first{
//     @include btn($color: #fff, $background: $first, $colorHover: $first, $bgHover: #fff, $padding: 12px 34px);
//     border: 1px solid $first;
//     &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
//         border: 1px solid $first;
//     }
// }
// .btn_first_inverse{
//     @include btn($color: $first, $background: #fff, $colorHover: #fff, $bgHover: $first, $padding: 18px 34px);

// }
// .btn_third{
//     @include btn($color: $third, $background: transparent, $colorHover: $first, $bgHover: #fff, $padding: 12px 34px);
//     border: 1px solid $third;
//     &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
//         border: 1px solid $third;
//     }
// }
// .btn_third_inverse{
//     @include btn($color: $first, $background: #fff, $colorHover: #fff, $bgHover: $first, $padding: 18px 34px);
// }

// .btn_second{
//     @include btn($color: $second, $background: transparent, $colorHover: $first, $bgHover: $second, $padding: 12px 34px);
//     border: 2px solid $second;
//     &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
//         border: 2px solid $second;
//     }
// }
// .btn_second_inverse{
//     @include btn($color: #fff, $background: $second, $colorHover: $second, $bgHover: $first, $padding: 18px 34px);
// }