@import url("https://use.typekit.net/jsn0cju.css");
//font-family: muli, sans-serif;
@font-face {
    font-family: "Museo 300";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo 300"), url("fonts/Museo300-Regular.woff") format("woff");
}

@font-face {
    font-family: "Museo 900";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo 900"), url("fonts/Museo900-Regular.woff") format("woff");
}

@font-face {
    font-family: "Museo 700";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo 700"), url("fonts/Museo700-Regular.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 500";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 500"), url("fonts/MuseoSansRounded500.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 100";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 100"), url("fonts/MuseoSansRounded100.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 300";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 300"), url("fonts/MuseoSansRounded300.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 700";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 700"), url("fonts/MuseoSansRounded700.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 900";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 900"), url("fonts/MuseoSansRounded900.woff") format("woff");
}

@font-face {
    font-family: "Museo Sans Rounded 1000";
    font-style: normal;
    font-weight: normal;
    src: local("fonts/Museo Sans Rounded 1000"), url("fonts/MuseoSansRounded1000.woff") format("woff");
}
////////// Font and weights classes /////////////
h2, h1 {
    @extend %title-default;
    font-family: "Museo Sans Rounded 900";
    @include media-breakpoint-down(lg) {
        @include rhythm(30, 45);
    }
}

.title_small{
    @extend %title-default;
    font-family: "Museo Sans Rounded 700";
    @include rhythm(35,50);
    @include media-breakpoint-down(lg) {
        @include rhythm(30, 45);
    }
}

p, .text_default, .missao li, #accordion .card li {
    @extend %text_default;
    @include media-breakpoint-down(lg) {
        @include rhythm(16, 25);
    }
}

.text_small{
    @extend %text_default;
    @include rhythm(19,25);
    font-weight: 700;
    @include media-breakpoint-down(lg) {
        @include rhythm(16, 25);
    }
}

.p-light {
    @extend %text-default-light;
}

.collapse_text {
    @extend %collapse-text-font;
}

.collapse_title {
    @extend %collapse-header-font;
}

.blog_card_date {
    @extend %blog-card-date;
}

.blog_card_title {
    @extend %blog-card-title;
}

.blog-card-text {
    @extend %blog-card-text;
}

.beneficios_header{
    @extend %beneficios_header;
}