/* global padding section */
section {
  padding: 4rem 0;
}

///img filter
.card-header + img {
  filter: brightness(0.95);
}
.card:hover {
  .card-header + img {
    filter: none;
  }
}

///input
input[type="submit"] {
  cursor: pointer;
}

input.wpcf7-form-control.wpcf7-submit {
  padding: 15px 50px;
  background-color: #fc9105;
  border-radius: 100px;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #fc9105;
  width: auto;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

///scroll
html {
  scroll-behavior: smooth;
}

/////////////// hr class ///////////////
.hr-left {
  @extend %hr-1;
  // border-left: 1px solid $first !important;
}

.hr_left_white {
  @extend %hr-1;
  background-color: $white;
  color: white;
}

.hr_bot {
  @extend %hr-2;
}

.hr-top {
  @extend %hr-3;
}

.hr_gray {
  @extend %hr-4;
}

.hr_pill {
  @extend %hr-5;
}

/////////////// Slick-slide /////////////
////home / empreendimentos
.empreendimentos {
  .slick-slide {
    padding: 10px 20px;
  }
}

/////////// Slick Dots /////////////////

.slick-dots {
  position: relative;
  li {
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: 7px 12px 16px;
    border-radius: 50px;
  }
  li button::before {
    color: $white;
    font-size: 25px;
    opacity: 1;
    border-radius: 50px;
    margin: 4px 0px 0px -1px;
  }
  li.slick-active button::before {
    color: $second;
    font-size: 25px;
    opacity: 1;
    margin: 4px 0px 0px -1px;
  }
}

//////////// Padding Accordion ///////////////
.padding_accordion_about {
  padding: 1rem 1rem !important;
}

/////////// Border Accordion  ///////////////
.accordion_border {
  border: 1px solid $fourth;
}

/////////// accordion font awesome ///////////

/// seta triangular
.accordion .card-header:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transition: 0.3s ease-in-out;
}

.accordion .card-header.collapsed:before {
  /* symbol for "collapsed" panels */
  content: "\f0da";
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}

/// Mobile Nav
.search_mobile .accordion .card-header:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transform: rotate(-90deg);
  transition: 0.3s ease-in-out;
}

.search_mobile .accordion .card-header.collapsed:before {
  /* symbol for "collapsed" panels */
  content: "\f0da";
  transform: rotate(90deg);
  transition: 0.3s ease-in-out;
}

///institucionalMobile
.institucionalMobile .accordion .card-header:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transition: 0.3s ease-in-out;
  transform: rotate(-90deg);
}

.institucionalMobile .accordion .card-header.collapsed:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transition: 0.3s ease-in-out;
  transform: rotate(90deg);
}

///sustentavel_colapse
.sustentavel_colapse .accordion .card-header:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transition: 0.3s ease-in-out;
  transform: rotate(-90deg);
}

.sustentavel_colapse .accordion .card-header.collapsed:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f0da";
  float: right;
  transition: 0.3s ease-in-out;
  transform: rotate(90deg);
}

///seta preta
.duvidas .card-header:before {
  color: $white;
  font-family: "FontAwesome";
  content: "\f077";
  float: right;
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 30px;
  @include media-breakpoint-down(lg) {
    // position: relative;
    // right:20px;
    // top: 40px;
    display: none;
  }
}

//mobile
.duvidas .card-header::after {
  @include media-breakpoint-up(lg){
    display: none;
  }
  color: $white;
  font-family: "FontAwesome";
  content: "\f077";
  float: right;
  transition: 0.3s ease-in-out;
  position: relative;
  right: 0px;
  top: 6px;
}

.duvidas .card-header.collapsed:before {
  /* symbol for "collapsed" panels */
  content: "\f077";
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 30px;
  @include media-breakpoint-down(lg) {
    // position: relative;
    // right: 20px;
    // top: 40px;
    display: none;
  }
}
 
//mobile
.duvidas .card-header.collapsed::after {
  @include media-breakpoint-up(lg){
    display: none;
  }
  content: "\f077";
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  position: relative;
  right: 0px;
  top: 6px;
}

.card {
  .row.col-12.align-items-center.justify-content-center {
    padding: 0;
  }
}
