// Mixins
$margin_default: 20px;

//font size
@mixin font-size($sizeValue: 16) {
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}

@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}

@mixin hr($color: $first, $width: 30px, $height: 8px) {
    color: $color;
    background-color: $color;
    height: $height;
    width: $width;
}
//////////////// Font and weights ////////////
%text_default {
    @extend %museo-sans-100;
    text-align: left;
    @include rhythm(21, 35);
    letter-spacing: 0.48px;
    color: $fourth;
    opacity: 1;
}

%text-default-light {
    @extend %museo-sans-100;
    text-align: left;
    @include rhythm(22, 38);
    letter-spacing: 0.48px;
    color: $fifth;
    opacity: 1;
}

%title-default {
    @extend %museo-sans-900;
    text-align: left;
    @include rhythm(40, 60);
    letter-spacing: -1.1px;
    color: $fourth;
    text-transform: uppercase;
    opacity: 1;
}

%breadcrumb-font {
    font-family: "muli", sans-serif;
    color: $fourth;
    text-align: left;
    @include rhythm(20, 35);
    letter-spacing: 0.6px;
    color: $fourth;
    opacity: 1;
}

%search_nav_font {
    @include rhythm(20, 24);
    @extend %museo-300;
    color: $white;
}

%gallery-font-p {
    @extend %museo-100;
    color: $white;
    text-align: center;
    @include rhythm(20, 30);
    letter-spacing: 0.4px;
}

%gallery-font-title {
    @extend %museo-700;
    text-align: center;
    @include rhythm(25, 30);
    letter-spacing: 0.5px;
    color: $white;
    opacity: 1;
}

%placeholder-font {
    @extend %museo-500;
    text-align: left;
    @include rhythm(22, 60);
    letter-spacing: 0.44px;
    color: $fourth;
    opacity: 1;
}

%card-btn-font {
    @extend %museo-500;
    text-align: center;
    @include rhythm(20, 60);
    letter-spacing: 0.4px;
    color: $white;
    opacity: 1;
}

%media-contato-font {
    @extend %museo-500;
    color: $fourth;
    text-align: left;
    @include rhythm(30, 51);
    letter-spacing: 0.6px;
}

%media-titel-font {
    @extend %museo-900;
    text-align: left;
    @include rhythm(30, 70);
    letter-spacing: 0.6px;
    color: $fourth;
    opacity: 1;
}

%ficha-tecnica-titel {
    @extend %museo-500;
    color: $white;
    text-align: left;
    @include rhythm(24, 40);
    letter-spacing: 0.48px;
}

%ficha-tecnica-text {
    @extend %museo-sans-100;
    color: $white;
    text-align: left;
    @include rhythm(24, 40);
    letter-spacing: 0.48px;
}

%badge-font {
    @extend %museo-500;
    text-align: center;
    @include rhythm(20, 60);
    letter-spacing: 0.4px;
    color: $white;
    opacity: 1;
}

%emprendimento-nav-font {
    @extend %museo-500;
    text-align: center;
    @include rhythm(20, 27);
    letter-spacing: 0.2px;
    color: $fourth;
    opacity: 1;
}

%map-font {
    @extend %museo-500;
    text-align: left;
    @include rhythm(24, 40);
    letter-spacing: 0.48px;
    color: $fifth;
    opacity: 1;
}

%pill-nav-font {
    @extend %museo-500;
    text-align: left;
    @include rhythm(30, 70);
    letter-spacing: 0.6px;
    color: $white;
    opacity: 1;
}

%pill-active-font {
    @extend %museo-900;
    text-align: left;
    @include rhythm(30, 70);
    letter-spacing: 0.6px;
    color: $white;
    opacity: 1;
}

%quem-somos-carousel-font {
    @extend %museo-500;
    text-align: center;
    @include rhythm(20, 30);
    letter-spacing: 0.6px;
    color: $white;
    opacity: 1;
}

%collapse-text-font {
    @extend %museo-sans-700;
    text-align: left;
    @include rhythm(16, 35);
    letter-spacing: 0.6px;
    color: $fifth;
    opacity: 1;
}

%collapse-header-font {
    @extend %museo-sans-700;
    text-align: left;
    @include rhythm(20, 20);
    letter-spacing: 0.6px;
    color: $white !important;
    opacity: 1;
    text-transform: uppercase;
}

%footer-title-font {
    @extend %museo-sans-500;
    text-align: left;
    @include rhythm(18, 33);
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
}

%footer-text {
    @extend %museo-sans-100;
    text-align: left;
    @include rhythm(18, 33);
    letter-spacing: 0px;
    color: $white;
    opacity: 0.5;
}

%banner-title-font {
    @extend %museo-sans-900;
    text-align: left;
    @include rhythm(60, 75);
    letter-spacing: -1.2px;
    color: $white;
    text-transform: uppercase;
    opacity: 1;
}

%banner-text-font {
    @extend %museo-sans-100;
    text-align: left;
    @include rhythm(40, 50);
    letter-spacing: 0px;
    color: $white;
    opacity: 1;
}

%nav-font {
    @extend %museo-300;
    text-align: left;
    @include rhythm(20, 24);
    letter-spacing: 0.36px;
    color: $third;
    opacity: 1;
}

%nav-active-font {
    @extend %museo-500;
    font-weight: bold;
    text-align: center;
    @include rhythm(22, 27);
    letter-spacing: 0.4px;
    color: $first;
    opacity: 1;
}

%nav-placeholder-font {
    @extend %museo-300;
    text-align: center;
    @include rhythm(20, 24);
    letter-spacing: 0.36px;
    color: $white;
    opacity: 1;
}

%blog-card-date {
    @extend %museo-sans-700;
    text-align: left;
    @include rhythm(18, 39);
    letter-spacing: 0px;
    color: $fourth;
    opacity: 1;
}

%blog-card-title {
    @extend %museo-sans-700;
    text-align: left !important;
    @include rhythm(24, 38);
    letter-spacing: 0.48px;
    color: $third;
    opacity: 1;
}

%blog-card-text {
    @extend %museo-sans-500;
    text-align: left;
    @include rhythm(22, 30);
    letter-spacing: 0.44px;
    color: $fourth;
    opacity: 1;
}

%beneficios_header {
    @extend %museo-sans-700;
    @include rhythm(50, 65);
    letter-spacing: 1px;
    text-transform: uppercase;
}
/////////// font family /////////////
%museo-100 {
    font-family: "Museo 100";
}

%museo-300 {
    font-family: "Museo 300";
}

%museo-500 {
    font-family: "Museo 500";
}

%museo-700 {
    font-family: "Museo 700";
}

%museo-900 {
    font-family: "Museo 900";
}

%museo-sans-100 {
    font-family: "Museo Sans Rounded 100";
}

%museo-sans-500 {
    font-family: "Museo Sans Rounded 500";
}

%museo-sans-700 {
    font-family: "Museo Sans Rounded 700";
}

%museo-sans-900 {
    font-family: "Museo Sans Rounded 900";
}

///////////////// HR Titulo /////////////////
%hr-1 {
    width: 1px !important;
    max-width: 4px !important;
    border-radius: 8px;
    padding: 0;
    background-color: $first;
}

%hr-2 {
    display: block !important;
    background-color: $first;
    height: 6px;
    width: 180px;
    margin-top: 1rem;
    border-radius: 100px;
    @include media-breakpoint-down(lg) {
        width: 80px;
    }
}

%hr-3 {
    display: block !important;
    background-color: $first;
    height: 4px;
    width: 100px;
    margin-bottom: 1rem;
    border-radius: 100px;
}

////////////////////HR Conteudo ////////////////////////
%hr-4 {
    display: block;
    background-color: $eighth;
    height: 4px;
    width: 100%;
    border-radius: 100px;
    margin-top: 2rem;
}

%hr-5 {
    display: block;
    background-color: $white;
    height: 1px;
    width: 80%;
    border-radius: 100px;
    margin: 1.5rem 0 1.5rem 3rem;
}

//////////// btn geral //////////
@mixin btn($color: $white, $background: $second, $padding: 30px 50px) {
    color: $color;
    border: 2px double $color;
    background: $background;
    padding: $padding;
}

// @mixin btn($color: $first, $background: $second, $colorHover: $first, $bgHover: $first, $padding: 22px 35px){
//     color: $color;
//     border:2px double $color;
//     background: $background;
//     padding: $padding;
//     &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
//         color: $colorHover;
//         border-color: $color;
//         background: $bgHover;
//     }
// }
@mixin margin_default {
    margin-top: 25px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

%hr-title-top {
    border-radius: $border-radius-default;
}
%auto {
    margin: 0 auto;
}
%opacity {
    transition: opacity 0.3s;
}
%margin_default_numbers {
    margin-top: 28px;
}
%margin_default_footer {
    margin-top: 43px;
}
%color_first {
    color: $first;
}
%color_second {
    color: $second;
}
%color_third {
    color: $third;
}
%background_first {
    background: $first !important;
}
%background_second {
    background: $second;
}
%background_third {
    background: $third;
}
%background_fifth {
    background: $fifth;
}
%background_sixth {
    background: $sixth;
}
%background_seventh {
    background: $seventh;
}
%background_eighth {
    background: $eighth;
}

%background_nineth {
    background: $nineth;
}

%background_tenth {
    background: $tenth;
}

%background_eleventh {
    background: $eleventh;
}
/////// background clasees///////
.background_first {
    @extend %background_first;
}

.background_second {
    @extend %background_second;
}

.background_third {
    @extend %background_third;
}
.background_fifth {
    @extend %background_fifth;
}
.background_sixth {
    @extend %background_sixth;
}
.background_seventh {
    @extend %background_seventh;
}
.background_eighth {
    @extend %background_eighth;
}

.background_nineth {
    @extend %background_nineth;
}

.background_tenth {
    @extend %background_tenth;
}

.background_eleventh {
    @extend %background_eleventh;
}

/////////////////// btn ///////////////
%btn {
    color: $white;
    font-style: normal;
    font-weight: 700;
    @include rhythm(24, 32);
    letter-spacing: 0.24px;
    text-align: center;
    text-transform: uppercase;
}

%btn_small {
    color: $white;
    font-style: normal;
    font-weight: 500;
    @include rhythm(20, 32);
    letter-spacing: 0.24px;
    text-align: center;
    text-transform: uppercase;
}

.btn_second {
    // font-size: 24px;
    padding: 15px 50px;
    background-color: $second;
    border-radius: 100px;
    box-shadow: 0 0 0 2px $white, 0 0 0 3px $second;
    @include media-breakpoint-down(lg) {
        padding: 10px 20px;
    }
}

.btn_second_text:hover {
    color: #fc9105;
}

.btn_second_text:hover .btn_second {
    color: #fc9105;
    background: #fff;
}

.btn_wide {
    width: 100% !important;
}
.btn_second_text {
    @extend %btn;
}

.btn_second_text_small {
    @extend %btn_small;
}

//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
