@include media-breakpoint-up(md) {
    #nav_main {
        background: transparent;
        &.scrolled {
            background: #fff;
        }
    }
}

////////////// Padding
.navbar {
    padding: 1.5rem 2rem;
    @media screen and (min-width: 992px) and (max-width: 1300px){
        padding: 1.5rem 0;
    }
    .nav-item.active {
        color: $first;
        font-weight: bold;
        border-bottom: 4px solid;
    }
    @include media-breakpoint-down(lg) {
        padding: 15px 0;
    }
    .navbar-nav {
        @include media-breakpoint-down(lg) {
            padding: 2rem 2rem 0;
            a {
                font-family: "Museo Sans Rounded 100";
                color: $first;
                font-size: 19px;
                opacity: 0.6;
            }
        }
        .fa_nav {
            opacity: 1;
        }
        .fa {
            font-size: 40px;
            opacity: 1;
            padding: 1rem 0 2rem;
        }
    }

    .hr_nav {
        height: 1px;
        background-color: $first;
        width: 100%;
        margin: 1rem 0;
    }

    .navbar-brand {
        padding-left: 44px;
        @include media-breakpoint-down(lg) {
            padding-left: 15px;
        }
    }

    .navbar-toggler {
        @include media-breakpoint-down(lg) {
            // margin-right: 50px;
        }
        .navbar-toggler-icon {
            color: $first;
            font-size: 50px;
        }
    }
}

.navbar .nav-item {
    border-top: 4px solid transparent;
}

.navbar .nav-item:active, .navbar .nav-item:hover {
    color: #d81f31;
    border-top: 4px solid #d81f31;
}

/////////////  Search
//container
.search_container {
    padding: 0 70px;
    position: relative;
    z-index: 999;
    top: -7px;
    a{
        width: 0;
        height: 0;
    }
    img{
        // opacity: 0;
        width: 0%;
        height: 0%;
        transition:  width 1s,height 1s;
    }
    #search-filter-form-140{
        transition: all .5s ease;
        margin-left: -60px;

    }
    &.fixed-header{
        a{
            width: auto;
            height: auto;
        }
        img{
            // opacity: 1;
            width: 100%;
            height: 52px;
            transition: width 1s,height 1s;
        }
    }
}
.fixed-header{
    background: #d81f31;
    transition: all .5s ease;
    #search-filter-form-140{
        transition: all .5s ease;
        margin-left: 0px;

    }
}
///
.search_mobile {
    position: relative;
    z-index: 9999;
}
///margin
#search-filter-form-140 {
    margin-top: 0;
}

///search nav
.search_nav {
    padding: 1.5rem 0;
    background-color: $first;
    opacity: 0.9;
    @extend %search_nav_font;
    @include media-breakpoint-down(lg) {
        opacity: 1;
        background-color: $first;
    }
    ul {
        display: flex;
        flex-direction: row;
        @include media-breakpoint-down(lg) {
            flex-direction: column;
            background-color: $first;
            padding: 0;
        }
        li {
            padding: 0 10px;
            @include media-breakpoint-down(lg) {
                padding: 0 2rem;
            }
            select {
                -moz-appearance: none; /* Firefox */
                -webkit-appearance: none; /* Safari and Chrome */
                appearance: none;
                text-align: center;
                option:hover {
                    background-color: $first !important;
                }
            }
        }
    }

    ///Search placeholder
    //main
    .sf-input-select {
        @extend %search_nav_font;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $white;
        padding: 10px 0;

        @include media-breakpoint-down(lg) {
            text-align: left;
            width: 220px;
        }

        //dropdown
        .sf-level-0 {
            @extend %search_nav_font;
            border: none;
            text-align: center;
            opacity: 0.8;
        }
    }

    /// Search button
    .sf-field-submit {
        height: 100%;
        @include media-breakpoint-down(lg) {
            margin: 2rem 0;
            width: 100%;
        }
        input {
            height: 100%;
            padding: 10px 40px;
            background-color: $white;
            color: $second;
            border: none;

            @include media-breakpoint-down(lg) {
                padding: 20px 40px;
            }
        }
    }

    ///
    .card-title {
        opacity: 1;
    }
}

///////////////////// Sticky //////////////////
.hidden {
    height: 0;
    width: 0;
    opacity: 0;
    transition: visibility 0.3s linear, opacity 0.3s linear;
}
.visible-img {
    // display: inline-block !important;
    // height: auto !important;
    // width: auto !important;
    // opacity: 1!important;
    // transition: visibility 0.3s linear, opacity 0.3s linear;
}

.fixed-header {
    position: sticky;
    top: 0;
}

.padding-0 {
    padding: 0 !important;
}
