// Variables


$first: #D81F31;
$second: #FC9105;
$third: #707070;
$fourth: #373737;
$fifth: #646464;
$sixth: #F6F6F6;
$seventh: #F2F2F2;
$eighth: #D4D4D4;
$nineth: blue;
$tenth: yellow;
$eleventh: #7c97ab;
$purple: #9B59B6;
$blue: #006AA7;
$orange: #F15A2F;
$green: #25B89B;
$lightBlue: #4B4BF9;
$white: #ffffff;

//global
$border-radius-default: 0px;

//padding sections
$padding-default: 80px 0;

