/////////////////////////// Text decoration
.carousel_empreendimentos a{
    text-decoration: none!important;
}

////////////////////////// Nav Pill
///font color
.empreendimentos .nav-item {
    & a {
        text-decoration: none;
        color: $fourth;
    }
}

///active
.empreendimentos .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: transparent !important;
    font-weight: bold;
    color: $first;
}

///font awesome
.empreendimentos .nav-pills .nav-link.active::before,
.nav-pills .show > .nav-link::before {
    font-family: "FontAwesome";
    content: "\f0da";
    float: right;
    transform: rotate(90deg);
}

///border and mobile column
.empreendimentos .nav-pills {
    border: 1px solid $fourth;
    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    .hr_gray {
        height: 4px;
        border: none;
    }

    a {
        @include media-breakpoint-down(lg) {
            text-align: left;
        }
    }
}

///////////////////// Gallery
.portfolio {
    .link_img {
        padding: 0 10px 10px 0;
    }
    // title
    .blueimp-gallery > .title {
        left: 50%;
        top: 80%;
    }
    // modal arrow
    .blueimp-gallery-display > .next,
    .blueimp-gallery-display > .prev {
        font-family: "FontAwesome";
        background: #000 url("\f053");
        background-color: $white;
    }
    .blueimp-gallery-display > .prev {
        font-family: "FontAwesome";
        left: 22.1%;
        top: 41%;
        content: "\f053";
        color: black;
    }
    .blueimp-gallery-display > .next {
        font-family: "FontAwesome";
        right: 22.1%;
        top: 41%;
        content: "\f054";
        color: black;
    }

    .blueimp-gallery-display > .next:hover,
    .blueimp-gallery-display > .prev:hover {
        border-color:  #FC9105;
    }
    //modal img
    .blueimp-gallery > .slides > .slide > .slide-content,
    .blueimp-gallery > .slides > .slide > .slide-content > img {
        margin: 6rem auto 15rem;
    }

    .hover_portfolio {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        margin: -110px 0 0px 115px;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        background-color: $first;
        @media (max-width:1199px) and (min-width:992px){
            margin: -95px 0 0 97px;
        }
      }
      
      .carousel_portfolio a:hover {
        .hover_portfolio {
          opacity: 0.8;
        }
      
        .hover_portfolio_text {
          opacity: 1;
        }
      }
      
      .hover_portfolio_text {
        color: white;
        font-size: 20px;
        padding: 40px 45px;
      }
       
}


///Portfolio
.portfolioMobile{
    .portfolio_collapse_header{
        background-color: $blue;
    }
    
    .portfolio_border{
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}