.meet{
    h2{
        color: $second;
        @include rhythm(33, 40);
        font-weight: 700;
    }
    p{
        color: $first;
        @include rhythm(23, 40);
        font-weight: 700;
        margin: 1rem 0 2.5rem 0;
    
    }
    .item{
        .bg{
            background-size: contain;
            height: 226px;
            background-repeat: no-repeat;
            background-blend-mode: multiply;
            background-color: rgba(0,0,0,.3);
        }
        .card-body{
            border-left: 1px solid #e5e5e5;
            border-right: 1px solid #e5e5e5;
            padding: 1rem 2rem;
        }
        h2{
            display: inline-block;
            padding-bottom: 1rem;
            font-weight: 700;
            color: #172e34;
            @include rhythm(18, 28);
            border-bottom: 2px solid $first;
        }
        p{
            padding-top: 1rem;
            color: #172e34;
            @include rhythm(16, 20);
            display: block;
            font-weight: 400;
            margin-bottom: 1rem;
        }
        a{
            width: 100%;
            text-decoration: none;
            padding: 1.5rem;
            background: $first;
            color: $second;
            font-weight: 700;
            display: block;
            @include rhythm(18, 20);

        }
    }
}
.about{
    background-size: cover;
    height: auto;
    // background-blend-mode: multiply;
    // background-color: rgba(0, 0, 0,  .6);
    @include media-breakpoint-up(md){
        height: 100vh;
        max-height: 550px;
        background-attachment: fixed;
    }

    h2{
        @include rhythm(60, 68);
        @extend %color_second;
        font-weight: 700;
        & > b, & > strong{
            @extend %color_first;
        }
    }
    h3{
        @extend %color_second;
        font-weight: 700;
        @include rhythm(20, 28);
        margin: 2.4rem 0;
    }
    .item{
        
    }
}
.vizinhos{
    h2{
        color: $second;
        @include rhythm(33, 40);
        font-weight: 700;
    }
    p{
        color: $second;
        @include rhythm(16, 24);
        & + p {
        margin-top: 1rem
        }
    }
}
.pilares{
    background: $first;
    h2{
        color: $second;
        @include rhythm(33, 40);
        font-weight: 700;
    }
    .item{
        h3{
            @include rhythm(20, 24);
            font-weight: 700;

            padding-bottom: 1rem;
            border-bottom: 2px solid $second;
        }
        p{
            color: $second;
            padding-top: 1rem;
            @include rhythm(16, 24);
            & + p {
            margin-top: 1rem
            }
        }
    }
}
.testimonials{
    h2{
        color: $second;
        @include rhythm(33, 40);
        font-weight: 700;
    }
    h3{
        color: $second;
        @include rhythm(29, 40);
        font-weight: 700;
        margin: 1rem 0 2.5rem 0;
    
    }
    .carousel_testimonials{
        .media{
            img{

            }
            p{
                color: $second;
                @include rhythm(16, 24);
                & + p {
                margin-top: 1rem
                }
            }
        }
    }
}
.contact{
    .nav-tabs{
        border: none;
        @include media-breakpoint-up(md){
            margin-top: -40px;
        }
        .nav-item{
            .nav-link{
                border: none;
                border-radius: 0;
                @include rhythm(31,60);
                font-weight: 400;
                background: $second;
                padding: 10px 55px;
                color: $third;
                &:hover{
                    background: $first;
                }
                &.active{
                    background: $first;
                    font-weight: 700;
                }
            }
        }
    }
    .tab-content{
        p{
            margin: 2rem 0;
            @include media-breakpoint-up(md){
                margin: 4rem 0;
            }
            font-size: 16px;
            color: #172e34;
        }
        form{

        }
    }
}