footer {
    ul {
        padding: 0 2rem;
        li a {
            padding: 8px 12px;
            display: flex;
            p {
                font-size: 18px;
                color: $white;
                top: 3px;
            }
        }
    }

    i.fa {
        color: $white;
        font-size: 40px;
    }

    //Media query
    @include media-breakpoint-down(lg) {
        .container-fluid:last-child {
            .row {
                justify-content: space-between !important;
            }
            .col-12{
                padding: 0 5px;
            }
        }
    }
}
