.navbar{
    .nav-item:active{
        color: $first;
        border-top: 4px solid $first;
    }
}









#nav_main {
    @include media-breakpoint-up(md){
        padding: 30px 0;
        &.scrolled{
            padding: 10px 0;
        }
    }
    img{
        filter: brightness(0) invert(1);
    }
    &.scrolled{
        @extend %background_second;
		transition: padding-top .3s linear, padding-bottom .3s linear;
		img{
            filter: brightness(0) invert(1);
        }
    }
    &.nav-up{
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
    }
    &.nav-down{
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
	}
    @include media-breakpoint-down(lg){
        background: $first;
        &.scrolled{
            background: $first
        }
        padding: 10px 0;
        .navbar-brand{
            all: unset;
            cursor: pointer;
            max-width: 160px;
            margin: 0 auto;
            // margin-left: 30px;
            img{
                margin: 0 auto;
                filter: brightness(0) invert(1); 
                margin-left: -20px;
            }
        }
    }
}
nav{
    li.nav-item{
		padding: 0 .2rem;
		a{
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: $fourth;
        }
        &.current_page_item{
            
        }
    }
}
.dropdown-menu{
    background: transparent;
    border: none;
        .nav-item a {
            span{
                border-bottom: 1px solid transparent;
            }

            @include media-breakpoint-up(md){
                // max-width: 100px;
            }
            &:hover{ 
                background: transparent;
                span{
                    border-bottom: 1px solid #fff;
                }
            }
        .dropdown-item.active, .dropdown-item:active{
            background: $first;
        }
    }
}
@include media-breakpoint-down(lg){
    #nav_main .dropdown-menu {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #nav_main .dropdown-toggle{
        display: none;
    }
    .dropdown-menu{
        background: transparent;
        border: none;
    }
    #nav_main{
        li:not(.dropdown) {
            margin-top: 1.2rem;  
            a{
                // text-transform: uppercase;
                font-size: 20px;
            }
        }

    }
}

@include media-breakpoint-up(lg){
    nav li.nav-item{
        padding: 0;
    }
    nav li.nav-item .nav-link{
        padding: 1.4rem 1.5rem !important;
        text-transform: uppercase;
        font-size: 15px;
        border: none;
        font-weight: 500;
    }
    .dropdown-menu{
        .nav-item{
            text-align: right;
            a{
                color: $third; 
            }
        }
    }
}
.dropdown-toggle{
    #nav-icon-item{
        background: $first;
        padding: 4px 16px;
        border-radius: .3rem;
    }
}
.icon-bar {
    width: 30px;
    height: 5px;
    background-color: $first;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;   
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
} 
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
